[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/MokaHiko/SDL.git
[submodule "vendor/VkBootstrap"]
	path = vendor/VkBootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "vendor/Vma"]
	path = vendor/Vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/SPIRVReflect"]
	path = vendor/SPIRVReflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "vendor/Hurno"]
	path = vendor/Hurno
	url = https://github.com/MokaHiko/Hurno.git
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
